%centerElement {
    margin-right: auto;
    margin-left: auto;
}

%transition {
    transition: border-color 0.4s linear 0.1s, filter 0.4s linear 0.1s, background-color 0.4s linear 0.1s;
}

@mixin redButtonInactive($prop) {
    background-color: $prop;
    border-color: $prop;
    filter: drop-shadow(0px 0px 5px rgba(255, 17, 0, 1));
}

@mixin redButtonActive($prop) {
    background-color: $prop;
    border-color: $prop;
    filter: drop-shadow(0px 0px 17px rgba(255, 17, 0, 1));
}

%BGIFormat {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

body {
    background-color: rgb(34, 34, 34);
}

.btn-primary {
    filter: drop-shadow(0px 0px 5px rgb(68, 0, 255));
    background-color: #0f4eac;
    @extend %transition;
    &:hover {
        filter: drop-shadow(0px 0px 10px rgb(68, 0, 255));
        background-color: #0d6efd;
        @extend %transition;
    }
}

.headerItem {
    width: 25%;
    padding: 15px;
    background-color: rgba(255, 17, 0, 0.301);
    color: #fff;
    @extend %transition;
    &:hover {
        @include redButtonActive(rgba(255, 17, 0, 0.863));
        @extend %transition;
    }
}

.filterButton {
    background-image: url(img/vector.svg);
    @extend %BGIFormat;
    padding: 17px;
}

.clearFilterButton {
    background-image: url(img/formateWhite.svg);
    @extend %BGIFormat;
    @include redButtonInactive(rgba(255, 17, 0, 0.301));
    @extend %transition;
    &:hover {
        @include redButtonActive(rgba(255, 17, 0, 0.863));
        @extend %transition;
    }
    &:active {
        @include redButtonActive(rgba(255, 17, 0, 0.863));
        box-shadow: 0 0 0 0;
    }
    &:focus {
        @include redButtonActive(rgba(255, 17, 0, 0.863));
        box-shadow: 0 0 0 0;
    }
}

.studItem {
    width: 200px;
}

#formish, #filterForm{
    margin-top: 20px;
    width: 98%;
    @extend %centerElement
}

